.block-cell {
  @mixin cont;
  @mixin align $cent;
  @mixin line;
}

.block-cell__review-bold {
  padding-top: 41px;
  @mixin font-family $font-bold;
  font-size: 18px;
}

.block-cell__review {
  padding-top: 24px;
  line-height: 2;
}

.block-cell__review--padding {
  padding-top: 30px;
}
