.button-green {
  width: 100%;
  padding: 20px;
  border: none;
  color: $white;
  @mixin font-family $font-bold;
  font-size: 18px;
  @mixin upp;
  @mixin bg-color $green;

  &--failed {
    margin-right: 20px;
    margin-left: 20px;
    width: 280px;
  }

  &:active {
    color: $white-opacity;
  }

  &:disabled {
    @mixin bg-color $grey-line;
  }
}

@media (min-width: $tab) {
  .button-green {
    width: 300px;
    border-radius: 5px;
  }
}
