.footer-contacts {
  @mixin line;
  @mixin align $cent;
}

.footer-contacts__wrapper-text {
  padding: 47px 0 34px;
  line-height: 2em;
}

.footer-contacts__text {
  @mixin font-family $font-light;
  font-size: 24px;
}

.footer-contacts__list {
  padding-bottom: 10px;
  @mixin cont;
}

.footer-contacts__item {
  padding-bottom: 20px;
  @mixin font-family $font-bold;
  font-size: 18px;
}

.contact-link {
  @mixin font-family $font-light;
  font-size: 24px;
  color: $pink;
  font-style: normal;

  &:hover {
    color: $grey-txt;
    text-decoration: underline;
  }

  &:active {
    color: $grey-opacity;
  }
}

.footer-contacts__map {
  height: 200px;
  overflow: hidden;
}

@media (min-width: $tab) {
  .footer-contacts__wrapper-text {
    padding-top: 58px;
  }

  .footer-contacts__text {
    padding-bottom: 20px;
    font-size: 40px;
  }

  .footer-contacts__list {
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer-contacts__item {
    width: 250px;

    &:not(:last-of-type) {
      padding-bottom: 48px;
    }
  }

  .footer-contacts__map {
    height: 380px;
  }

  .footer-contacts__img {
    width: 700px;
    height: auto;
  }
}

@media (min-width: $desc) {
  .footer-contacts__wrapper-text {
    padding-top: 80px;
  }

  .footer-contacts__text {
    padding-bottom: 32px;
    font-size: 50px;
  }

  .footer-contacts__map {
    height: 500px;
    overflow: hidden;
    img {
      width: 1200px;
      height: auto;
    }
  }

  .footer-contacts__list {
    margin-top: 8px;
  }

  .footer-contacts__item {
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &:first-of-type {
      order: 1;
    }

    &:nth-of-type(2) {
      order: 3;
    }

    &:nth-of-type(3) {
      order: 2;
    }
  }

  .footer-contacts__span {
    padding-bottom: 20px;
  }
}
