.footer-contacts {
  @mixin line;
  @mixin align $cent;
}

.footer-contacts__wrapper-text {
  padding: 46px 0;
}

.footer-contacts__text {
  @mixin font-family $font-light;
  font-size: 24px;
}

.footer-contacts__list {
  padding-bottom: 10px;
  @mixin cont;
}

.footer-contacts__item {
  padding-bottom: 30px;
  @mixin font-family $font-bold;
  font-size: 18px;
}

.contact-link {
  @mixin font-family $font-light;
  font-size: 24px;
  color: $pink;
  font-style: normal;
}

.footer-contacts__map {
  height: 200px;
  overflow: hidden;
}

@media (min-width: $tab) {
  .footer-contacts__text {
    font-size: 40px;
  }

  .footer-contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer-contacts__item {
    width: 250px;
    &:not(:last-of-type) {
      padding-bottom: 58px;
    }
  }

  .footer-contacts__map {
    height: 380px;
  }

  .footer-contacts__img {
    width: 700px;
    height: auto;
  }
}

@media (min-width: $desc) {
  .footer-contacts__text {
    font-size: 50px;
  }

  .footer-contacts__map {
    height: 500px;
    overflow: hidden;
    img {
      width: 1200px;
      height: auto;
    }
  }

  .footer-contacts__item {
    &:first-of-type {
      order: 1;
    }

    &:nth-of-type(2) {
      order: 3;
    }

    &:nth-of-type(3) {
      order: 2;
    }
  }
}
