.form__desc {
  padding: 54px 20px 52px;
  line-height: 2;
  @mixin line;
  @mixin align $cent;
}

.form__desc--hidden {
  display: none;
}

.form__fieldset {
  @mixin cont;
  padding-bottom: 43px;
  @mixin line;
  border: none;
}

.form__fieldset--grey {
  margin-bottom: 41px;
  padding: 0;
  @mixin bg-color $grey-bg;
}

.form__legend {
  padding: 40px 40px;
  @mixin align $cent;
  @mixin upp;
  color: $pink;
  @mixin bg-color $grey-bg;
}

.form__legend--hidden {
  display: none;
}

.form__legend--textarea {
  padding: 0;
  padding-bottom: 20px;
  @mixin bg-color $white;
}

.form__label {
  display: block;
  text-indent: 23px;
  @mixin upp;
  color: $pink;
}

.form__label--grey {
  text-transform: none;
  color: $grey-txt;
  font-size: 18px;
}

.form__label--check {
  padding-bottom: 43px;
}

.form__label--radio {
  padding-bottom: 37px;
}

.form__input {
  margin: 27px 0 15px;
  padding: 24px 0 24px 23px;
  display: block;
  width: 257px;
  font-size: 18px;
}

.form__check {
  margin-right: 31px;
}

.form__radio {
  margin-right: 31px;
}

.form__textarea {
  width: 240px;
  height: 160px;
  padding: 20px;
  @mixin font-family $font-regular;
  font-size: 18px;
}

.form__footer {
  @mixin cont;
  @mixin align $cent;
}

.form__desc-footer {
  padding: 45px 0 25px;
  color: $pink;
  @mixin upp;
}

.form__desc-footer--black {
  color: $grey-txt;
}

@media (min-width: $tab) {
  .form {
    @mixin cont;
    @mixin line;
  }

  .form__desc {
    padding: 100px 40px 70px;
    font-size: 18px;
  }

  .form__desc--hidden {
    display: block;
  }

  .form__fieldset {
    padding: 0 60px;
    border: 2px solid $grey-line;
  }

  .form__fieldset--grey{
    @mixin bg-color $white;
  }

  .form__fieldset--trans-progress {
    transform: translateY(660px);
  }

  .form__fieldset--trans-os {
    transform: translateY(-893px);
  }

  .form__fieldset--trans-contact {
    transform: translateY(-260px);
  }

  .form__legend {
    @mixin bg-color $white;
  }

  .form__legend--hidden {
    display: block;
  }

  .form__input {
    display: inline;
    margin-left: 20px;
    padding: 20px 0 20px 20px;
    width: 320px;
  }

  .form__textarea {
    width: 500px;
    height: 190px;
    margin-bottom: 55px;
  }

  .form__footer {
    @mixin clearfix;
  }

  .form__button {
    float: left;
  }

  .form__desc-footer {
    float: right;
  }
}

@media (min-width: $desc) {
  .form__desc {
    padding-left: 90px;
    padding-right: 90px;
  }

  .form__desc--hidden {
    display: inline-block;
  }

  .form__fieldset {
    padding-left: 0;
    float: left;
  }

  .form__fieldset--big {
    width: 100%;
  }

  .form__fieldset--trans-progress {
    transform: translateY(300px);
  }

  .form__fieldset--trans-os {
    transform: translateY(-790px) translateX(490px);
  }

  .form__fieldset--trans-textarea {
    margin-top: -270px;
  }

  .form__label--big {
    margin-left: 60px;
    float: left;
  }

  .form__input {
    padding: 20px;
    width: auto;
  }

  .form__input--big {
    display: block;
    width: 350px;
  }

  .form__textarea {
    margin-left: 70px;
    padding: 24px;
    width: 820px;
    height: 130px;
  }
}
