.hour-24 {
  display: none;
  @mixin cont;
}

@media (min-width: $tab) {
  .hour-24 {
    position: relative;
    padding-top: 25px;
    margin-bottom: 30px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .hour-24__pict {
    width: 239px;
  }

  .hour-24__round-24 {
    position: absolute;
    top: 113px;
    left: 59px;
    z-index: 3;
    padding: 20px 37px 30px 33px;
    color: $pink;
    font-size: 90px;
    @mixin font-family $font-regular;
    border: 15px solid $pink;
    border-radius: 50%;
  }

  .hour-24__right-block {
    flex-basis: 310px;
    flex-grow: 1;
    margin-left: 60px;
    margin-top: -15px;
    padding: 0 10px;
  }

  .hour-24__title {
    padding: 18px 213px 11px 0;
    line-height: 1.2em;
    @mixin font-family $font-bold;
    font-size: 30px;
  }

  .hour-24__text {
    padding-right: 80px;
    padding-bottom: 16px;
    line-height: 1.7em;
  }

  .hour-24__link {
    color: $pink;
    border-bottom: 1px solid $pink;
  }
}

@media (min-width: $desc) {
  .hour-24 {
    margin-bottom: 60px;
    padding-bottom: 65px;
    width: 940px;
    @mixin bg-color $grey-bg;

    svg {
      margin-left: -4px;
      margin-top: 40px;
      width: 315px;
    }
  }

  .hour-24__round-24 {
    top: 132px;
    left: 155px;
    padding: 25px 42px 35px 37px;
    border-width: 20px;
    font-size: 115px;
  }

  .hour-24__right-block {
    margin: 61px 0 0 55px;
    flex-basis: 570px;
    font-size: 18px;
  }

  .hour-24__title {
    padding-right: 0;
    padding-bottom: 20px;
    letter-spacing: -0.5px;
  }

  .hour-24__text {
    padding-right: 43px;
    padding-bottom: 32px;
  }
}
