.hour-24 {
  display: none;
  @mixin cont;
}

@media (min-width: $tab) {
  .hour-24 {
    padding-top: 60px;
    margin-bottom: 107px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      border: 1px solid #ccc;
    }
  }

  .hour-24__right-block {
    flex-basis: 310px;
    flex-grow: 1;
    margin-left: 60px;
    padding: 0 10px;
    line-height: 2em;
  }

  .hour-24__title {
    padding-bottom: 24px;
    line-height: 1.3em;
    @mixin font-family $font-bold;
    font-size: 30px;
  }

  .hour-24__text {
    padding-right: 70px;
    padding-bottom: 10px;
  }

  .hour-24__link {
    color: $pink;
    border-bottom: 1px solid $pink;
  }
}

@media (min-width: $desc) {
  .hour-24 {
    margin-bottom: 70px;
    padding-bottom: 65px;
    width: 940px;
    @mixin bg-color $grey-bg;
    img {
      margin-right: 70px;
      width: 315px;
      height: 372px;
    }
  }

  .hour-24__right-block {
    flex-basis: 570px;
    font-size: 18px;
  }

  .hour-24__text {
    padding-right: 0;
  }
}
