.hour-24 {
  display: none;
  @mixin cont;
}

@media (min-width: $tab) {
  .hour-24 {
    padding-top: 60px;
    margin-bottom: 70px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      border: 1px solid #ccc;
    }
  }

  .hour-24__right-block {
    flex-basis: 310px;
    flex-grow: 1;
    margin-left: 52px;
    margin-top: -15px;
    padding: 0 10px;
  }

  .hour-24__title {
    padding-bottom: 11px;
    padding-right: 213px;
    line-height: 1.2em;
    @mixin font-family $font-bold;
    font-size: 30px;
  }

  .hour-24__text {
    padding-right: 80px;
    padding-bottom: 16px;
    line-height: 1.7em;
  }

  .hour-24__link {
    color: $pink;
    border-bottom: 1px solid $pink;
  }
}

@media (min-width: $desc) {
  .hour-24 {
    margin-bottom: 60px;
    padding-bottom: 45px;
    width: 940px;
    @mixin bg-color $grey-bg;
    img {
      margin-right: 8px;
      width: 350px;
      height: 372px;
    }
  }

  .hour-24__right-block {
    margin: 0;
    margin-top: 21px;
    flex-basis: 570px;
    font-size: 18px;
  }

  .hour-24__title {
    padding-right: 0;
    padding-bottom: 20px;
    letter-spacing: -0.5px;
  }

  .hour-24__text {
    padding-right: 43px;
    padding-bottom: 32px;
  }
}
