.motivation {
  position: relative;
  padding-top: 65px;
  @mixin bg-color $grey-bg;
}

@media (min-width: $tab) {
  .motivation {
    position: relative;
    padding-top: 73px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 413px;
    overflow: hidden;
  }
}

@media (min-width: $desc) {
  .motivation {
    padding: 0 138px 0 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
  }

  .motivation__phone {
    display: none;
  }
}
