.motivation {
  @mixin bg-color $grey-bg;
}

.motivation__phone {
  margin-top: 47px;
  height: 280px;
  overflow: hidden;
  @mixin align $cent;
}

@media (min-width: $tab) {
  .motivation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 487px;
  }

  .motivation__phone {
    order: 1;
    margin-top: 0;
    padding-left: 40px;
    height: 485px;
  }

  .phone__smile {
    width: 270px;
    height: 485px;
  }
}

@media (min-width: $desc) {
  .motivation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @mixin cont;
    height: auto;
  }

  .motivation__phone {
    display: none;
  }
}
