.offer {
  margin: 20px 0 25px;
  @mixin cont;
  @mixin line;
}

.offer__review {
  padding: 20px 0 7px;
  line-height: 1.25em;
  @mixin font-family $font-light;
  font-size: 24px;
  @mixin align $cent;
}

@media (min-width: $tab) {
  .offer {
    margin-bottom: 23px;
    padding: 27px 40px 20px;
  }

  .offer__review {
    padding: 0 10px;
    font-size: 40px;
  }
}

@media (min-width: $desc) {
  .offer {
    margin-top: 25px;
    margin-bottom: 75px;
    padding: 0;
  }

  .offer__review {
    font-size: 50px;
  }
}
