.page-header__bg--index {
  height: 400px;
  background-image: url("/img/iphone-hand-mobile@1x.png"), url("/img/bg-back-mobile@1x.jpg");
  background-position: bottom left, center;
  background-repeat: no-repeat;
}

.page-header__bg--inner {
  height: 170px;
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-position: top -70px center;
}

@media (min-width: $tab) {
  .page-header__bg--index {
    height: 620px;
    background-size: auto 500px, auto 770px;
    background-position: bottom left 190px, bottom center;
  }

  .page-header__bg--inner {
    height: 330px;
  }
}

@media (min-width: $desc) {
  .page-header__bg--index {
    margin-top: -110px;
    height: 853px;
    background-size: auto 500px, auto 853px;
    background-position: bottom left 600px, center;
  }

  .page-header__bg--inner {
    margin-top: -110px;
    height: 395px;
    @mixin line;
    background-size: 1200px auto;
    background-position: center center;
  }
}
