.page-header__bg--index {
  margin-top: -67px;
  width: auto;
  height: 462px;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: left bottom, center bottom;
  background-repeat: no-repeat;
}

.page-header__bg--inner {
  height: 239px;
  margin-top: -69px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
}

@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .page-header__bg--index {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
    background-size: 258px auto, auto 465px;
  }

  page-header__bg--inner {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

@media (min-width: $tab) {
  .page-header__bg--index {
    margin-top: -103px;
    height: 722px;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-size: auto 545px, auto 730px;
    background-position: bottom left, center  bottom;
  }

  .page-header__bg--inner {
    height: 433px;
    margin-top: -103px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: auto 730px;
    background-position: center  top -112px;
  }
}

@media (min-width: $tab) and (min-resolution: 144dpi),
(min-width: $tab) and (min-resolution: 1.5dppx){
  .page-header__bg--index {
    background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
    background-size: auto 545px, auto 730px;
    background-position: bottom left, bottom center;
  }

  .page-header__bg--inner {
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-size: auto 730px;
    background-position: center  top -112px;
  }
}

@media (min-width: $desc) {
  .page-header__bg--index {
    margin-top: -110px;
    height: 853px;
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-size: auto 642px, auto 853px;
    background-position: bottom left 153px, center;
  }

  .page-header__bg--inner {
    margin-top: -110px;
    height: 395px;
    @mixin line;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2562px auto;
    background-position: top 2px center;
  }
}

@media (min-width: $desc) and (min-resolution: 144dpi),
(min-width: $desc) and (min-resolution: 1.5dppx){
  .page-header__bg--index {
    background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
    background-size: auto 642px, auto 853px;
    background-position: bottom left 153px, bottom center;
  }

  .page-header__bg--inner {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-size: 2562px auto;
    background-position: top 14px center;
  }
}
