.photo-owner {
  @mixin line;
}

.photo-owner__image {
  @mixin cont;
}

.photo-owner__image--big {
  padding: 0;
}

.photo__title {
  padding: 55px 0;
  @mixin cont;
  @mixin line;
  line-height: 2;
  @mixin bg-color $white;
  font-weight: normal;
  @mixin align $cent;
  font-size: 14px;
}

.photo-owner__comment {
  margin: 0 20px 20px ;
  @mixin cont;
  @mixin bg-color $grey-bg;
  line-height: 2;
  &::last-child {
  margin-bottom: 0;
  }
}

/*Потом переделаю флексами*/

.photo-owner--first {
  position: relative;
}

.photo-owner__panorama {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 20px;
  padding: 13px 0;
  width: 140px;
  @mixin align $cent;
  @mixin bg-color $pink;
  color: $white;
  @mixin upp;
  @mixin font-family $font-bold;
  font-size: 12px;
}

.photo-owner__name {
  @mixin font-family $font-bold;
}

.photo-owner__time {
  @mixin font-family $font-regular;
  @mixin upp;
  font-size: 12px;
}

.photo-owner__like {
  border: none;
  @mixin upp;
  font-size: 12px;
  color: $pink;
}

@media (min-width: $tab) {
  .photo__wrapper {
    @mixin cont;
    @mixin clearfix;
  }

  .photo__title {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 18px;
  }

  .photo-owner {
    margin-left: 10px;
    margin-bottom: 50px;
    float: left;
  }

  .photo-owner--first {
    margin-left: 0;
    float: none;
  }

  .photo-owner--little {
    width: 300px;
    height: 455px;
  }

  .photo-owner__image {
    padding: 0;
    width: 300px;
    height: 300px;
  }

  .photo-owner__image--big {
    width: 700px;
    height: 510px;
  }

  .photo-owner__panorama {
    right: 40px;
    top: 58px;
  }

  .photo-owner__comment {
    margin: 0;
    padding: 0;
  }

  .photo-owner__comment--first {
    margin: 0 40px 50px;
    padding: 28px;
  }

  .photo-owner__comment--little {
    width: 242px;
    height: 155px;
    padding: 29px 29px 0;
  }
}

@media (min-width: $desc) {
  .photo__title {
    padding: 100px 300px;
  }

  .photo-owner__image--big {
    width: 1200px;
  }

  .photo-owner__panorama {
    right: 120px;
  }

  .photo-owner__comment--first {
    margin-right: 120px;
    margin-left: 120px;
  }
}
