.photo-owner {
  @mixin line;

  &--first {
    position: relative;
  }
}

.photo-owner__image {
  @mixin cont;

  &--big {
    padding: 0;
  }
}

.photo__title {
  padding: 55px 0;
  @mixin cont;
  @mixin line;
  line-height: 2;
  @mixin bg-color $white;
  font-weight: normal;
  @mixin align $cent;
  font-size: 14px;
}

.photo-owner__comment {
  margin: 0 20px 20px ;
  @mixin cont;
  padding-top: 25px;
  padding-bottom: 25px;
  @mixin bg-color $grey-bg;
  line-height: 2;

  &:last-child {
    margin-bottom: 0;
  }
}

.photo-owner__panorama {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 20px;
  padding: 13px 0;
  width: 140px;
  @mixin align $cent;
  @mixin bg-color $pink;
  color: $white;
  @mixin upp;
  @mixin font-family $font-bold;
  font-size: 12px;
}

.photo-owner__name {
  @mixin font-family $font-bold;
}

.photo-owner__time {
  @mixin font-family $font-regular;
  @mixin upp;
  font-size: 12px;
}

.photo-owner__like {
  border: none;
  @mixin upp;
  font-size: 12px;
  color: $pink;
}

@media (min-width: $tab) {
  .photo__wrapper {
    @mixin cont;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photo__title {
    padding: 100px 80px;
    font-size: 18px;

    &--bottom {
      padding-top: 54px;
      padding-bottom: 74px;
    }
  }

  .photo-owner {
    margin-bottom: 20px;

    &--little {
      width: 300px;
    }
  }

  .photo-owner__image {
    padding: 0;
    width: 300px;
    height: 300px;


    &--big {
      width: 700px;
      height: 510px;
    }
  }

  .photo-owner__panorama {
    right: 40px;
    top: 58px;
  }

  .photo-owner__comment {
    margin: 0;
    margin-top: -3px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &--first {
      margin: -3px 40px 50px;
      padding: 28px;
      flex-direction: row;
      justify-content: space-between;
    }

    &--little {
      width: 242px;
      height: 155px;
      padding: 29px 29px 0;
    }
  }

  .photo-owner__author {

    &--first {
      order: 1;
      width: 200px;
    }
  }

  .photo-owner__write {

    &--first {
      order: 3;
    }
  }

  .photo-owner__like {
    margin-top: auto;
    padding-bottom: 30px;
    align-self: start;

    &--first {
      order: 2;
    }
  }
}

@media (min-width: $desc) {
  .photo__title {
    padding: 100px 300px;

    &--bottom {
  padding: 70px 250px;
     }
  }

  .photo-owner__image--big {
    width: 1200px;
  }

  .photo-owner__panorama {
    right: 120px;
  }

  .photo-owner__comment--first {
    margin-right: 120px;
    margin-left: 120px;
  }
}
