.popup {
  padding-bottom: 50px;
  @mixin line;
  @mixin align $cent;
}

.popup--grey {
  @mixin bg-color $grey-bg;
}

.popup__title {
  padding-top: 50px;
  @mixin font-family $font-bold;
  font-size: 18px;
  @mixin bg-color $white;

  &--failed {
    padding-top: 41px;
  }
}

.popup__text {
  padding: 25px 25px 31px;
  line-height: 1.7;
  @mixin bg-color $white;

  &--failed {
  padding: 25px 0 28px;
   }
}

.popup__btn--grey-bg {
  margin: 51px 20px 0;
  width: 280px;
}

@media (min-width: $tab) {
  .popup {
    margin: 0 auto;
    width: 460px;
  }

  .popup__title {
    padding: 45px 110px 25px;
    @mixin font-family font-bold;
    font-size: 30px;
    letter-spacing: 0.8px;
    line-height: 1.2;
  }

  .popup__text {
    padding: 0 70px 35px;
    line-height: 1.4;
    font-size: 18px;
  }

  .popup__btn--grey-bg {
    margin-top: 44px;
  }

  .popup__btn--grey-bg {
    width: 300px;
  }
}

@media (min-width: $desc) {
  .popup {

    &--big {
      width: 780px;
    }
  }

  .popup__text {

    &--big {
      padding: 0 170px 35px;
    }
  }

    .popup__btn {

      &--grey-bg {
        width: 460px;
    }
}
}
