.popup {
  position: absolute;
  z-index: 6;
  padding-bottom: 50px;
  @mixin line;
  @mixin align $cent;
  box-shadow: 0 3px 10px $black-opacity;
  @mixin bg-color $white;

  &--failed {
    top: 1425px;
  }

  &--grey {
    bottom: -1702px;
    @mixin bg-color $grey-bg;
  }
}

.popup__title {
  padding-top: 50px;
  @mixin font-family $font-bold;
  font-size: 18px;
  @mixin bg-color $white;

  &--failed {
    padding-top: 41px;
  }
}

.popup__text {
  padding: 28px 25px 31px;
  line-height: 1.7;
  @mixin bg-color $white;

  &--failed {
    padding: 25px 0 39px;
  }
}

.popup__btn--grey-bg {
  margin: 48px 20px 0;
  width: 280px;
}

@media (min-width: $tab) {
  .popup {
    margin: 0 auto;
    width: 460px;

    &--failed {
      top: 902px;
      left: 154px;
    }

    &--big {
      bottom: -1235px;
      left: 154px;
    }
  }

  .popup__title {
    padding: 43px 110px 25px;
    @mixin font-family font-bold;
    font-size: 30px;
    letter-spacing: 0.8px;
    line-height: 1.2;
  }

  .popup__text {
    padding: 0 70px 35px;
    line-height: 1.4;
    font-size: 18px;
  }

  .popup__btn--grey-bg {
    margin-top: 44px;
  }

  .popup__btn--grey-bg {
    width: 300px;
  }
}

@media (min-width: $desc) {
  .popup {

    &--failed {
      top: 824px;
      left: 372px;
    }

    &--big {
      bottom: -884px;
      left: 208px;
      width: 780px;
    }
  }

  .popup__text {

    &--big {
      padding: 0 170px 38px;
    }
  }

    .popup__btn {

      &--grey-bg {
        width: 460px;
    }
}
}
