.your-best {
  @mixin bg-color $grey-bg;
}

.your-best__wrapper {
  @mixin cont;
  padding-bottom: 42px;
}

.your-best__img {
  padding: 20px 0 36px;
  @mixin align $cent;
}

.your-best__icons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.your-best__icon {
  border: none;
  background-color: transparent;

  &--contrast {
    padding-top: 6px;
  }
}

.your-best__icon-pict {
  width: 45px;
  fill: #b5b9be;

  &:hover {
    fill: #8d949b;
  }

  &:active {
    fill: $pink;
  }

  &--crop {
    fill: $pink;
  }
}

.your-best__range {
  padding: 0 17px;
}

.your-best__thumb{
  margin-top: 32px;
  margin-bottom: 35px;
  border: none;
  width: 240px;
  height: 2px;
  @mixin bg-color $grey-txt;

  &--hidden {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 121px;
    left: -20px;
    width: 320px;
    height: 1px;
    @mixin bg-color #b5b9be;
  }
}

.your-best__thumb-slider {
  position: absolute;
  top: 78px;
  left:211px;
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid $pink;
  border-radius: 50%;

  &:active {
    @mixin bg-color $pink;
  }

  &--hidden {
    display: none;
  }
}

.your-best__btns-wrap {
  width: 100%;
}

.your-best__btn {
  padding: 11px;
  width: 100%;
  border: 3px solid;
  border-radius: 40px;
  @mixin font-family $font-bold;
  font-size: 18px;
  @mixin bg-color $grey-bg;

  &--red {
    margin: 41px 0 15px;
    border-color: $pink;
    color: $pink;

    &:hover {
      color: $white;
      @mixin bg-color $pink;
    }

    &:active {
      color: $white-opacity;
      @mixin bg-color &pink;
    }
  }

  &--grey {
    border-color: $grey-btn;
    color: $grey-btn;

    &:hover {
      color: $white;
      @mixin bg-color #b5b9be;
    }

    &:active {
      color: $white-opacity;
      @mixin bg-color #b5b9be;
    }
  }
}

@media (min-width: $tab) {
  .your-best__wrapper {
    padding: 41px 40px 15px;
    display: flex;
    justify-content: space-between;
  }

  .your-best__img {
    padding: 17px 0 40px;
    width: 300px;
    height: 400px;
  }

  .your-best__icons {
    margin-left: 24px;
    padding-top: 19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 297px;
  }

  .your-best__range {
    padding: 0;
    display: flex;
    align-items: center;
    height: 35px;
  }

  .your-best__icon {
    margin-bottom: 18px;
    margin-right: 27px;
    padding: 0;
    width: 30px;
    height: 30px;

    &--fill {
      margin-bottom: 14px;
    }

    &--contrast {
      margin-bottom: 5px;
      margin-left: 5px;
    }
  }

  .your-best__icon-pict {
    width: 25px;
    fill: $pink;

    &--contrast {
      width: 16px;
    }
  }

  .your-best__thumb {
    margin: 0;
    display: none;

    &--hidden {
      display: inline-flex;
      width: 200px;
    }

    &::after {
      left: 21px;
      top: inherit;
      margin-top: 36px;
      width: 275px;
    }
  }

  .your-best__thumb-slider {
    top: inherit;
    left: 223px;

    &--hidden {
      display: inline-block;
    }

    &--fill {
      left: 101px;
    }

    &--contrast {
      left: 172px;
    }
  }

  .your-best__btns-wrap {
    margin-left: 10px;
    margin-bottom: 41px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-end;
  }

  .your-best__btn {
    align-self: flex-end;
    width: 260px;
    margin-top: 14px;
  }
}

@media (min-width: $desc) {
  .your-best {
    @mixin cont;
    @mixin bg-color $white;
  }

  .your-best__wrapper {
    padding: 40px 60px 60px 80px;
    @mixin bg-color $grey-bg;
  }

  .your-best__icons {
    margin-right: 4px;
    flex: 0 0 415px;
  }

  .your-best__range {
    flex-basis: 400px;
    height: 32px;
  }

  .your-best__icon {
    margin: 0;
    width: 50px;
    height: 50px;

    &--fill {
      margin-top: 7px;
    }
  }

  .your-best__icon-pict {
    width: 45px;
  }

  .your-best__thumb {
    margin-left: 42px;
    flex-basis: 290px;

    &::after {
      left: 10px;
      width: 409px;
    }
  }

.your-best__thumb-slider {
  left: 172px;

  &--fill {
    left: 348px;
  }

  &--contrast {
    left: 261px;
  }
}

  .your-best__btns-wrap {
    margin-top: 87px;
    justify-content: space-between;
    flex: 1 1 100%;
  }

  .your-best__btn {
    padding: 12px;
    width: 183px;
    margin: 0;
  }
}
