.your-best {
  @mixin bg-color $grey-bg;
}

.your-best__wrapper {
  @mixin cont;
  padding-bottom: 42px;
}

.your-best__img {
  padding: 20px 0 40px;
  @mixin align $cent;
}

.your-best__icons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.your-best__icon {
  border: none;
}

.your-best__range {
  padding: 0 18px;
}

.your-best__thumb{
  margin-top: 38px;
  margin-bottom: 35px;
  border: none;
  width: 240px;
  height: 2px;
  @mixin bg-color $grey-txt;

  &--hidden {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 120px;
    left: -20px;
    width: 320px;
    height: 1px;
    @mixin bg-color $grey-btn;
  }
}

.your-best__btn {
  padding: 15px;
  width: 100%;
  border: 3px solid;
  border-radius: 40px;
  @mixin font-family $font-bold;
  font-size: 18px;

  &--red {
    margin: 38px 0 15px;
    border-color: $pink;
    color: $pink;
  }

  &--grey {
    border-color: $grey-btn;
    color: $grey-btn;
  }
}

@media (min-width: $tab) {
  .your-best__wrapper {
    padding: 55px 40px;
    display: flex;
    justify-content: space-between;
  }

  .your-best__img {
    width: 300px;
    height: 400px;
  }

  .your-best__icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 275px;
  }

  .your-best__range {
    display: flex;
    align-items: center;
    width: 275px;
    height: 70px;
  }

  .your-best__icon {
    padding: 0;
    width: 30px;
    height: 30px;

    img {
      width: 30px;
      height: 30px;
    }
  }

  .your-best__thumb {
    margin: 0;
    display: none;

    &--hidden {
      margin-left: 20px;
      margin-right: 40px;
      display: inline-flex;
      width: 275px;
    }

    &::after {
      left: 0;
      width: 275px;
    }
  }


  .your-best__btns-wrap {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-end;
  }

  .your-best__btn {
    align-self: flex-end;
    width: 260px;
    margin-top: 25px;
  }
}

@media (min-width: $desc) {
  .your-best {
    @mixin cont;
    @mixin bg-color $white;
  }

  .your-best__wrapper {
    padding: 60px 80px;
    @mixin bg-color $grey-bg;
  }

  .your-best__img {
    padding: 0;
  }

  .your-best__icons {
    width: 410px;
  }

  .your-best__range {
    width: auto;
  }

  .your-best__icon {
    width: 50px;
    height: 50px;
  }

  .your-best__btns-wrap {
    margin-top: 130px;
    justify-content: space-between;
    width: 100%;
  }

  .your-best__btn {
    width: 183px;
    margin: 0;
  }
}
