@font-face {
   font-family: OpenSans;
   src: url(/fonts/opensans.woff),
   url(/fonts/opensans.woff2);
 }

@font-face {
   font-family: OpenSans-Bold;
   src: url(/fonts/opensansbold.woff),
   url(/fonts/opensansbold.woff2);
 }

@font-face{
   font-family: OpenSans-light;
   src: url(/fonts/opensanslight.woff),
   url(/fonts/opensanslight.woff2);
 }

$font-regular: "OpenSans";
$font-bold: "OpenSans-Bold";
$font-light: "OpenSans-light";

@define-mixin font-family $font {
  font-family: $font, "Open Sans", Helvetica, Arial, sans-serif;
}
