.main-nav {
  background-color: #283645;
}

.main-nav__item {
  line-height: 62px;

  a {
    @mixin align $cent;
    margin-bottom: -1px;
    display: block;
    border: 1px solid #485461;
    vertical-align: middle;
    color:$white;
    box-shadow: inset 0 -1px 0 0 $black;
    @mixin upp;
    @mixin font-family $font-bold;
  }
}

@media (min-width: $tab) {
  .main-nav__toggle {
    top: 45px;
    right: 40px;
  }
}

@media (min-width: $desc){
  .main-nav {
    z-index: 3;
    position: absolute;
    height: 107px;
    width: 1200px;
    padding: 0;
    @mixin bg-color $black-opacity;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    display: inline-block;
    float: right;
    margin-right: 120px;
  }

  .main-nav__item {
    display: inline-block;
    margin-left: 80px;
    line-height: 107px;
    a {
      @mixin font-family $font-regular;
      font-size: 18px;
      text-transform: none;
    }
  }
}
