.page-header__top-block {
  position: relative;
  @mixin cont;
  height: 67px;
  display: flex;
  align-items: center;
  border: 1px solid #485461;
  box-shadow: inset 0 -1px 0 0 $black;
}

.page-header__logo {
  margin-bottom: 3px;

  &--tab,
  &--desc {
    display: none;
  }
}

.page-header__bg {
  position: relative;
  height: 420px;
  width: auto;
  @mixin cont;
}

.page-header__title {
  padding-top: 97px;
  @mixin font-family $font-light;
  font-weight: normal;
  font-size: 24px;
  @mixin align $cent;
  vertical-align: middle;
  line-height: 1.25;
  color: $white;
}

@media (min-width: $tab) {
  .page-header__top-block {
    height: 103px;
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo {

    &--tab {
      margin-bottom: 22px;
      display: inline-flex;
    }

    &--mobile {
      display: none;
    }
  }

  .page-header__title {
    padding-top: 172px;
    font-size: 50px;
  }
}

@media (min-width: $desc) {
  .page-header__top-block {
    display: inline-flex;
    height: 100%;
    margin-left: 130px;
    padding: 0;

    svg {
      margin-bottom: 15px;
    }
  }

  .page-header__logo {

    &--desc {
      display: inline-block;
    }

    &--tab {
      display: none;
    }
  }

  .page-header__title {
    padding-top: 173px;
  }

  .page-header {
    display: flex;
    flex-direction: column;
  }
}
