.page-footer {
  @mixin cont;
  @mixin line;
  @mixin align $cent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &--index {
    display: none;
  }

  &--photo {
    padding-top: 5px;
  }
}

.page-footer__logo {
  margin: 32px 0 48px 5px;
}

.page-footer__social {
  margin-bottom: 57px;
}

.page-footer__copyright {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.page-footer__copyright-link {
  padding-left: 15px;
}

@media (min-width: $tab) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 130px;
    line-height: 130px;

    &--photo {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .page-footer__social {
    margin: 0;
    margin-right: 30px;
  }

  .page-footer__logo {
    margin-bottom: 60px;
  }

  .page-footer__copyright {
    margin: 0;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
    width: 150px;
    }

  .page-footer__copyright-link {
    margin-top: 23px;
    padding-left: 15px;
  }

  .page-footer__copyright-span {
    margin-top: 10px;
    padding-right: 14px;

  }
}

@media (min-width: $desc) {
  .page-footer {
    height: 200px;
    line-height: 200px;

    &--form {
      margin-top: 0;
    }

    &--photo {
      height: 180px;
      line-height: 180px;
    }
  }

  .page-footer__logo {

    &--index {
      margin-top: 70px;
    }

    &--form {
      margin-left: 0;
    }

    &--photo {
      margin-top: 55px;
    }
  }

  .page-footer__social {
    margin-right: 16px;

    &--form {
      margin-right: 5px;
    }
  }

  .page-footer__copyright {
    display: flex;
    align-items: center;
    font-size: 18px;
  }

  .page-footer__copyright-img {
    margin-top: -5px;
  }

  .page-footer__copyright-span {
    margin-top: 0;
    padding: 0;

    &--form {
      padding: 0;
      margin-bottom: 10px;
    }
  }
}
