.page-header__top-block {
  position: relative;
  @mixin cont;
  height: 70px;
  line-height: 70px;
  border: 1px solid #485461;
  box-shadow: inset 0 -1px 0 0 $black;

  img {
    vertical-align: middle;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  top: 20px;
}

.page-header__bg {
  width: auto;
  @mixin cont;
}

.page-header__title {
  padding-top: 35px;
  @mixin font-family $font-light;
  font-size: 24px;
  @mixin align $cent;
  vertical-align: middle;
  color: $white;
}

@media (min-width: $tab) {
  .page-header__top-block {
    height: 110px;
    line-height: 110px;
  }

  .page-header__title {
    padding-top: 50px;
    font-size: 50px;
  }
}

@media (min-width: $desc) {
  .page-header__top-block {
    display: inline-block;
    height: 107px;
    line-height: 107px;
    float: left;
    margin-left: 120px;
    padding: 0;
  }

  .page-header__bg {
    position: relative;
  }

  .page-header__title {
    padding-top: 170px;
  }
}
