.page-footer {
  @mixin cont;
  @mixin line;
  @mixin align $cent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &--index {
    display: none;
  }

  &--photo {
    padding-top: 5px;
  }
}

.page-footer__logo {
  margin: 37px 0 48px;
}

.page-footer__logo {
  fill: $grey-txt;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill-opacity: 0.3;
  }
}

.page-footer__social {
  margin-bottom: 38px;
  margin-top: -9px;
}

.page-footer__copyright {
  margin: -5px 0 35px 8px;
  display: flex;
  align-items: center;
}

.page-footer__copyright-span {
  margin-bottom: 8px;

  &--photo {
    margin-bottom: 6px;
  }
}

.page-footer__copyright-link {
  padding-left: 5px;
  width: 43px;

  svg {
    fill: $pink;

    &:hover {
      fill: $grey-txt;
    }

    &:active {
      fill: $grey-opacity;
    }
  }
}

@media (min-width: $tab) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--form {
      padding-top: 47px;
    }

    &--photo {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__logo {
    width: 149px;

    &--index {
      margin-top: 32px;
    }
  }

  .page-footer__copyright {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 150px;
  }

  .page-footer__copyright-span {
    margin-bottom: 0;
  }

  .page-footer__copyright-link {
    margin-top: 7px;
    margin-right: -6px;

    &--index {
      margin-right: -9px;
    }

    svg {
      width: 40px;
    }
  }
}

@media (min-width: $desc) {
  .page-footer {
    height: 200px;

    &--form {
      margin-top: 0;
    }

    &--photo {
      height: 190px;
    }
  }

  .page-footer__logo {

    &--index {
      margin: -15px 0 0 4px;
    }

    &--form {
      margin: 19px 0 63px 0;
    }

    &--photo {
      margin-bottom: 82px;
    }
  }

  .page-footer__social {
    margin-right: 0;

    &--form {
      margin-left: 18px;

    }

    &--photo {
      margin-bottom: 27px;
    }
  }

  .page-footer__copyright {
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    font-size: 18px;

    &--index {
      margin: 4px 4px 0 0;
    }

    &--form {
      margin-bottom: 103px;
    }

    &--photo {
      margin-bottom: 26px;
    }
  }

  .page-footer__copyright-img {
    margin-top: -5px;
  }

  .page-footer__copyright-span {
    margin-top: 0;
    padding: 0;

    &--form {
      padding: 0;
    }
  }

  .page-footer__copyright-link {

    &--index {
      margin-right: -12px;
    }

    &--form {
      margin-top: 24px;

      svg {
        margin-bottom: 14px;
      }
    }

    &--photo {
      margin-top: 12px;
    }
  }
}
