.social-link {
  margin: 0 3px;
  padding: 12px;
  border: 3px solid $grey-social;
  border-radius: 50%;

  &:hover {
    border-color: $grey-txt;
  }

  &:active {
    border-color: $grey-opacity;
  }
}
