* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
  @mixin font-family $font-regular;
  color: $grey-txt;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  box-shadow: none;
}

  @media (min-width: $tab) {
    .wrapper {
      width: 700px;
    }
  }

  @media (min-width: $desc) {
    .wrapper {
    width: 1200px;
  }
}
